@charset "UTF-8";
.date-range-body {
  display: inline-block;
  position: relative;
  /* 输入框 */
  /* 日历选择部分 */ }
  .date-range-body .input-section {
    display: inline-block;
    height: 36px;
    border: 1px solid #505466;
    position: relative; }
    .date-range-body .input-section .start-time, .date-range-body .input-section .end-time {
      height: calc(100% - 2px);
      border: none;
      width: calc(50% - 22px);
      background: none;
      outline: none;
      text-align: center; }
    .date-range-body .input-section .clip-span {
      width: 40px;
      height: 100%;
      text-align: center;
      display: inline-block;
      line-height: 36px;
      vertical-align: top; }
  .date-range-body .input-section:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer; }
  .date-range-body .date-section {
    user-select: none;
    display: none;
    position: absolute;
    top: 50px;
    width: 554px;
    left: 0;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #2b313d;
    color: #b4c0cb;
    /* 两个月份展示 */ }
    .date-range-body .date-section.date-section-show {
      display: inherit; }
    .date-range-body .date-section .date-start-section {
      margin-right: 20px; }
    .date-range-body .date-section .date-start-section, .date-range-body .date-section .date-end-section {
      width: 265px;
      border-radius: 4px;
      display: inline-block;
      font-size: 14px;
      /* 年、月选择部分 */
      /* 日期选择部分 */ }
      .date-range-body .date-section .date-start-section .header-section, .date-range-body .date-section .date-end-section .header-section {
        position: relative;
        height: 30px;
        margin: 30px 10px 0;
        border-radius: 4px;
        background-color: #373d49; }
        .date-range-body .date-section .date-start-section .header-section .prev-year, .date-range-body .date-section .date-start-section .header-section .prev-month, .date-range-body .date-section .date-start-section .header-section .next-year, .date-range-body .date-section .date-start-section .header-section .next-month, .date-range-body .date-section .date-end-section .header-section .prev-year, .date-range-body .date-section .date-end-section .header-section .prev-month, .date-range-body .date-section .date-end-section .header-section .next-year, .date-range-body .date-section .date-end-section .header-section .next-month {
          position: absolute;
          height: 30px;
          width: 20px;
          line-height: 30px;
          text-align: center;
          cursor: pointer; }
        .date-range-body .date-section .date-start-section .header-section .prev-month, .date-range-body .date-section .date-end-section .header-section .prev-month {
          left: 20px; }
        .date-range-body .date-section .date-start-section .header-section .next-month, .date-range-body .date-section .date-end-section .header-section .next-month {
          right: 20px; }
        .date-range-body .date-section .date-start-section .header-section .next-year, .date-range-body .date-section .date-end-section .header-section .next-year {
          right: 0; }
        .date-range-body .date-section .date-start-section .header-section .year-selector, .date-range-body .date-section .date-start-section .header-section .month-selector, .date-range-body .date-section .date-end-section .header-section .year-selector, .date-range-body .date-section .date-end-section .header-section .month-selector {
          width: calc(50% - 10px);
          height: 30px;
          line-height: 30px;
          display: inline-block;
          text-align: center; }
          .date-range-body .date-section .date-start-section .header-section .year-selector .current, .date-range-body .date-section .date-start-section .header-section .month-selector .current, .date-range-body .date-section .date-end-section .header-section .year-selector .current, .date-range-body .date-section .date-end-section .header-section .month-selector .current {
            cursor: pointer; }
        .date-range-body .date-section .date-start-section .header-section .year-selector, .date-range-body .date-section .date-end-section .header-section .year-selector {
          text-align: right;
          padding-right: 10px; }
        .date-range-body .date-section .date-start-section .header-section .month-selector, .date-range-body .date-section .date-end-section .header-section .month-selector {
          text-align: left;
          padding-left: 10px; }
      .date-range-body .date-section .date-start-section .calender-section, .date-range-body .date-section .date-end-section .calender-section {
        padding: 10px;
        margin-top: 10px; }
      .date-range-body .date-section .date-start-section .date-item, .date-range-body .date-section .date-start-section .date-weekday, .date-range-body .date-section .date-end-section .date-item, .date-range-body .date-section .date-end-section .date-weekday {
        display: inline-block;
        width: 31px;
        height: 26px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        font-size: 12px;
        padding: 3px 2px;
        background-clip: content-box;
        transition: background-color .2s ease; }
      .date-range-body .date-section .date-start-section .date-item:not(.not-current-month):hover,
      .date-range-body .date-section .date-start-section .date-item.start-or-end-selected, .date-range-body .date-section .date-end-section .date-item:not(.not-current-month):hover,
      .date-range-body .date-section .date-end-section .date-item.start-or-end-selected {
        background-color: #b4c0cb;
        color: #000000; }
      .date-range-body .date-section .date-start-section .date-item.selected, .date-range-body .date-section .date-end-section .date-item.selected {
        background-color: #4c576a;
        color: #b4c0cb; }
      .date-range-body .date-section .date-start-section .date-item.not-current-month, .date-range-body .date-section .date-end-section .date-item.not-current-month {
        visibility: hidden; }
      .date-range-body .date-section .date-start-section .date-item.disable, .date-range-body .date-section .date-start-section .date-item.disable:hover, .date-range-body .date-section .date-end-section .date-item.disable, .date-range-body .date-section .date-end-section .date-item.disable:hover {
        cursor: not-allowed;
        background-color: inherit;
        color: #b4c0cb; }
